
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}
::selection { background: none; } 
:root{
    --background:#fff;
    --sec-col:#c8102e;
    --sec-cols:rgba(0, 0, 0, 0.8);
    --text-col:#000;
    --sce-bg:#1c1c1c;
    --footer-col:#666666;
    --transition:all 200ms ease-in-out;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Poppins", serif;
      user-select: none;
}
img{
  width: 100%;
  height: 100%;
}
section{
  padding: 6rem 0;
  overflow-x: hidden;
}
.cent{
  text-align: center;
}
a{
    text-decoration: none;
 
}
body{
    background-color: var(--background);
      overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 30px;
    position: relative;
}
nav ul{
  display: flex;
  gap: 1rem;
}
nav ul li{
  list-style: none;
}
nav ul li a{
 color: var(--text-col);
}
nav .logo{
  color: var(--sec-col);
  letter-spacing: 5px;
}
.menu-icon {

  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 25px;
  position: relative;
  margin:0 6px;
}

.line {
  background-color: black;
  height: 3px;
  width: 100%;
  display: block;
    margin: 5px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Change to X when toggled */
.menu-icon.active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-icon.active .line:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
.yh{
  left:0;
}
.ham{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.hero-cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 0 60px;
  margin-top: -3%;
  gap: 2rem;
  position: relative;
  height: max-content;
}
.hero-cont .first_side h1{
font-size: 45px;

font-weight: 400;
}
.hero-cont .first_side h2{
  font-size: 20px;
font-weight: 500;
}
.btn{
display: flex;
gap: 1rem;
justify-content: center;
}
 .btn button{
border-radius: 5px;
border: 3px solid var(--sec-col);
background-color: var(--sec-col);
color: var(--background);
transition:var(--transition) ;
cursor: pointer;
}
.btn button a{
  color: var(--background);
}
 .btn button:hover a{
color: var(--text-col);
}
 .btn button:hover {
border-radius: 5px;
border: 3px solid var(--sec-col);
background-color: transparent;
color: var(--text-col);
}
 .btn button a:hover{
color: var(--text-col);
}

.short-pad{
padding: 7px 30px;
}
.hero-cont .first_side p{
  font-size: 18px;
margin: 20px 0;
line-height: 1.3;
}
.hero-cont::before{
  content: '';
  position: absolute;
  background-color: var(--sec-col);
  height: 300px;
  width: 300px;
  top: 0;
  left: -80%;
  z-index: -1;
  filter: blur(150px);
}
.hero-cont::after{
  content: '';
  position: absolute;
  background-color: var(--sec-col);
  height: 300px;
  width: 300px;
  bottom: 0;
  right: -90%;
  z-index: -1;
  filter: blur(150px);
}
.about{
  background-color: var(--sce-bg);
  color: var(--background );
  padding: 30px 0;
  position: relative;
}
.about .container{
  width: 95%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  place-items: center;
  z-index: 2;
}

.about .first-slide {
  padding: 20px 25px;
width: 80%;
position: relative;
}
.about .sec-slide::before{
  content: '';
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: var(--sec-col);
opacity: 0.4;
filter: blur(400px);
}
.about .first-slide img{
  border-radius: 30px;
  object-fit: contain;
  border: 2px solid var(--sec-col);
}
.about .sec-slide{
  font-size: 20px;
  padding: 0 2px;
  line-height: 1.3;
 
}
 .about .sec-slide h2{
font-size: 2.5rem;
position: relative;
width: max-content;
 }

  .about .sec-slide h2::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    bottom: 0;
  }
  .about .sec-slide h2::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--sec-col);
  bottom: 0;
  left: 0;
  margin-bottom: -7px;
  }
   .about  button:hover a{
border-radius: 5px;

background-color: transparent;
color: var(--background);
}
 .about .btn button a:hover{
color: var(--background);
}
.services{
  width: 100%;
  height: max-content;
  background:  url('1707122431024.jpg');
  background-attachment: fixed;
  overflow: hidden;
  padding: 0 0;
  background-repeat:repeat-y;
  position: relative;
}

.services .container{
  background-color:var(--sec-cols);
  height: max-content;
  width: 100%;
  padding:50px 0;
  position:sticky;
  top:0;
}
.services .container > p{
  text-align: center;
  margin: 20px 0;
  color: var(--background);
  padding: 0 30px;
}
.services .container > h2{
  color: var(--background);
  font-size: 50px;
  text-align: center;
  position: relative;
 width: max-content;
 margin: 0 auto;

}
 .services .container > h2::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: var(--text-col);
    bottom: 0;
    transform: translateX(-50%);
     left: 50%;
  }
.services .container > h2::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: var(--text-col);
  bottom: 0;
  left: 50%;
  margin-bottom: -7px;
transform: translateX(-50%);
  }
  .services .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 40px 30px;
  }
  .services .cards .card h2{
    font-size: 30px;
    color: var(--background);
  }
  .services .cards .card .card_title,
  .services .cards .card .card_desc{
    padding: 10px 5px;

  }
  .services .container .cards .card hr{
border-color:var(--text-col);
color: transparent;
background-color: transparent;
border-bottom: none;

  }
  .services .cards .card{
    border: 2px solid var(--text-col);
    display: grid;
    gap: 0.5rem;
    border-radius: 10px;
  }
  .services img{
    border-radius: 10px;
  }
  .services .cards .card  p{
    color:#FFFFFF;
  }
.services .btn{
  margin-left: auto;
padding: 10px 10px;
}
.services .btn button{
  border-color:var(--background) ;
  
}
.services .btn button a{
    font-weight: 600;
    font-size: 14px;
  color: var(--background);
}
.blogs{

}
@media (width > 768px) {
  .ham{
    display: none;
  }
}
@media (width < 768px) {
 ul{
  flex-direction: column;
  position: fixed;
  left: 100%;
  background-color: var(--text-col);
 width: 100%;
align-items: center;
 top: 100%;
 padding: 20px 0;
 transition: all 400ms ease;
 }
 ul li a{
   color: var(--background);
 }
 .about .container{
  grid-template-columns: 1fr;
 }
 .hero-cont{
  grid-template-columns: 1fr;
  padding: 0 20px;
 }
 .hero-cont .first_side{
  order: 2;
 }
 .about .first-slide{
  padding: 0;
  width: 100%;
 }
.services .cards{
  grid-template-columns: 1fr ;
  gap: 3rem;
}
}
